USE [master]
GO
/****** Object:  Database [EnocaDb]    Script Date: 18.02.2023 16:42:37 ******/
CREATE DATABASE [EnocaDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EnocaDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\EnocaDb.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EnocaDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\EnocaDb_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EnocaDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EnocaDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 18.02.2023 16:42:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Firmalar]    Script Date: 18.02.2023 16:42:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Firmalar](
	[FirmaId] [int] IDENTITY(1,1) NOT NULL,
	[FirmaAd] [nvarchar](max) NOT NULL,
	[Onay] [bit] NOT NULL,
	[SiparisIzinBaslangicSaat] [time](7) NOT NULL,
	[SiparisIzinBitisSaat] [time](7) NOT NULL,
 CONSTRAINT [PK_Firmalar] PRIMARY KEY CLUSTERED 
(
	[FirmaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Siparisler]    Script Date: 18.02.2023 16:42:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siparisler](
	[SiparisId] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](max) NOT NULL,
	[Tarih] [datetime2](7) NOT NULL,
	[FirmaId] [int] NOT NULL,
	[UrunId] [int] NOT NULL,
 CONSTRAINT [PK_Siparisler] PRIMARY KEY CLUSTERED 
(
	[SiparisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 18.02.2023 16:42:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[UrunId] [int] IDENTITY(1,1) NOT NULL,
	[UrunAdi] [nvarchar](max) NOT NULL,
	[Stok] [int] NOT NULL,
	[Fiyat] [float] NOT NULL,
	[FirmaId] [int] NOT NULL,
 CONSTRAINT [PK_Urunler] PRIMARY KEY CLUSTERED 
(
	[UrunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230217222938_initial', N'7.0.3')
SET IDENTITY_INSERT [dbo].[Firmalar] ON 

INSERT [dbo].[Firmalar] ([FirmaId], [FirmaAd], [Onay], [SiparisIzinBaslangicSaat], [SiparisIzinBitisSaat]) VALUES (1, N'firma', 1, CAST(N'10:00:00' AS Time), CAST(N'17:00:00' AS Time))
INSERT [dbo].[Firmalar] ([FirmaId], [FirmaAd], [Onay], [SiparisIzinBaslangicSaat], [SiparisIzinBitisSaat]) VALUES (2, N'firma2', 0, CAST(N'11:00:00' AS Time), CAST(N'15:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[Firmalar] OFF
SET IDENTITY_INSERT [dbo].[Siparisler] ON 

INSERT [dbo].[Siparisler] ([SiparisId], [Ad], [Tarih], [FirmaId], [UrunId]) VALUES (1, N'Ali', CAST(N'2023-02-18 10:31:05.9030000' AS DateTime2), 1, 1)
SET IDENTITY_INSERT [dbo].[Siparisler] OFF
SET IDENTITY_INSERT [dbo].[Urunler] ON 

INSERT [dbo].[Urunler] ([UrunId], [UrunAdi], [Stok], [Fiyat], [FirmaId]) VALUES (1, N'Urun1', 12, 12, 1)
SET IDENTITY_INSERT [dbo].[Urunler] OFF
/****** Object:  Index [IX_Siparisler_UrunId]    Script Date: 18.02.2023 16:42:37 ******/
CREATE NONCLUSTERED INDEX [IX_Siparisler_UrunId] ON [dbo].[Siparisler]
(
	[UrunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Urunler_FirmaId]    Script Date: 18.02.2023 16:42:37 ******/
CREATE NONCLUSTERED INDEX [IX_Urunler_FirmaId] ON [dbo].[Urunler]
(
	[FirmaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Siparisler]  WITH CHECK ADD  CONSTRAINT [FK_Siparisler_Urunler_UrunId] FOREIGN KEY([UrunId])
REFERENCES [dbo].[Urunler] ([UrunId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Siparisler] CHECK CONSTRAINT [FK_Siparisler_Urunler_UrunId]
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD  CONSTRAINT [FK_Urunler_Firmalar_FirmaId] FOREIGN KEY([FirmaId])
REFERENCES [dbo].[Firmalar] ([FirmaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Urunler] CHECK CONSTRAINT [FK_Urunler_Firmalar_FirmaId]
GO
USE [master]
GO
